/*=================== LAYOUT ===================*/
.container {
  max-width: 1160px;
  margin-right: $x-1;
  margin-left: $x-1;
  @include breakpoint(sm) {
    margin-right: $x-1-5;
    margin-left: $x-1-5;
  }
  @include breakpoint(md) {
    margin-right: $x-2;
    margin-left: $x-2;
  }
  @include breakpoint(lg) {
    margin-right: $x-3;
    margin-left: $x-3;
  }
  @include breakpoint(xl) {
    margin-right: auto;
    margin-left: auto;
  }
}
/*=================== REUSEABLE CLASSES ===================*/
main {
  .main__bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}
section {
  padding: 2rem 0;
}
