/*=================== GOOGLE FONTS ===================*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
/*=================== FONTS ===================*/
@font-face {
  font-family: Anurati;
  src: url(../../assets/fonts/Anurati.otf);
}
@font-face {
  font-family: Aquatico;
  src: url(../../assets/fonts/Aquatico.otf);
}
@font-face {
  font-family: Comfortaa;
  src: url(../../assets/fonts/Comfortaa.ttf);
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../../assets/fonts/GlacialIndifference.otf);
}
@font-face {
  font-family: Quicksand;
  src: url(../../assets/fonts/Quicksand.otf);
}
/*=================== VARIABLES ===================*/
/* Z Index */
/* Others */
/*=================== BASE ===================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 100%);
}

span {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

/*=================== LAYOUT ===================*/
.container {
  max-width: 1160px;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media (min-width: 576px) {
  .container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
@media (min-width: 768px) {
  .container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
@media (min-width: 998px) {
  .container {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
@media (min-width: 1200px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}

/*=================== REUSEABLE CLASSES ===================*/
main .main__bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

section {
  padding: 2rem 0;
}

.hero__section .hero__content .hero__data {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__data {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
.hero__section .hero__content .hero__data .hero__quotes {
  order: 1;
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__data .hero__quotes {
    order: 0;
    width: 21.875rem;
  }
}
.hero__section .hero__content .hero__data .hero__quotes .quotes {
  font-size: 0.813rem;
  font-family: "Quicksand";
  font-weight: 100;
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__data .hero__quotes .quotes {
    font-size: 0.938rem;
  }
}
.hero__section .hero__content .hero__data .hero__quotes .quotes__author {
  margin-top: 0.5rem;
  font-size: 0.938rem;
  font-family: "Quicksand";
  font-weight: 400;
}
.hero__section .hero__content .hero__data .hero__weather {
  order: 0;
  width: 11.25rem;
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__data .hero__weather {
    order: 1;
  }
}
.hero__section .hero__content .hero__data .hero__weather .weather__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}
.hero__section .hero__content .hero__data .hero__weather .weather__container .weather__temperature {
  display: flex;
  cursor: pointer;
}
.hero__section .hero__content .hero__data .hero__weather .weather__container .weather__temperature .temperature,
.hero__section .hero__content .hero__data .hero__weather .weather__container .weather__temperature .degree,
.hero__section .hero__content .hero__data .hero__weather .weather__container .weather__temperature .fahrenheit {
  font-size: 2rem;
  font-family: "Comfortaa";
}
.hero__section .hero__content .hero__data .hero__weather .weather__container .weather__temperature .fahrenheit {
  margin-left: 0.75rem;
}
.hero__section .hero__content .hero__data .hero__weather .weather__timezone,
.hero__section .hero__content .hero__data .hero__weather .weather__summery,
.hero__section .hero__content .hero__data .hero__weather .weather__feels--like {
  font-family: "Comfortaa";
  font-size: 0.813rem;
  opacity: 0.8;
}
.hero__section .hero__content .hero__data .hero__weather .weather__summery {
  font-size: 0.938rem;
  opacity: 1;
  margin: 0.25rem 0;
}
.hero__section .hero__content .hero__data .hero__weather .weather__low--high {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.hero__section .hero__content .hero__data .hero__weather .weather__low--high .weather__low .low__text,
.hero__section .hero__content .hero__data .hero__weather .weather__low--high .weather__low .high__text,
.hero__section .hero__content .hero__data .hero__weather .weather__low--high .weather__high .low__text,
.hero__section .hero__content .hero__data .hero__weather .weather__low--high .weather__high .high__text {
  font-size: 0.813rem;
  font-family: "Comfortaa";
  opacity: 0.8;
}
.hero__section .hero__content .hero__data .hero__weather .weather__low--high .weather__low .low__temp,
.hero__section .hero__content .hero__data .hero__weather .weather__low--high .weather__low .high__temp,
.hero__section .hero__content .hero__data .hero__weather .weather__low--high .weather__high .low__temp,
.hero__section .hero__content .hero__data .hero__weather .weather__low--high .weather__high .high__temp {
  font-size: 0.938rem;
  font-family: "Comfortaa";
  font-weight: 700;
  margin-top: 0.25rem;
}
.hero__section .hero__content .hero__time--date {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__time--date {
    margin-top: -2.5rem;
  }
}
@media (min-width: 998px) {
  .hero__section .hero__content .hero__time--date {
    margin-top: -3rem;
  }
}
.hero__section .hero__content .hero__time--date .hero__date {
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero__section .hero__content .hero__time--date .hero__date .dates,
.hero__section .hero__content .hero__time--date .hero__date .months,
.hero__section .hero__content .hero__time--date .hero__date .days {
  font-weight: 700;
}
.hero__section .hero__content .hero__time--date .hero__date .months,
.hero__section .hero__content .hero__time--date .hero__date .days {
  font-family: "Comfortaa";
}
.hero__section .hero__content .hero__time--date .hero__date .dates {
  font-size: 3rem;
  font-family: "Quicksand";
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__time--date .hero__date .dates {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  .hero__section .hero__content .hero__time--date .hero__date .dates {
    font-size: 4rem;
  }
}
.hero__section .hero__content .hero__time--date .hero__date .months {
  font-size: 0.938rem;
}
.hero__section .hero__content .hero__time--date .hero__date .days {
  font-size: 0.75rem;
  opacity: 0.7;
}
.hero__section .hero__content .hero__time--date .time__container .time__greetings {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.hero__section .hero__content .hero__time--date .time__container .greetings,
.hero__section .hero__content .hero__time--date .time__container .division {
  font-size: 0.938rem;
  font-family: "Glacial Indifference";
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media (max-width: 340px) {
  .hero__section .hero__content .hero__time--date .time__container .greetings,
  .hero__section .hero__content .hero__time--date .time__container .division {
    font-size: 0.813rem;
  }
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__time--date .time__container .greetings,
  .hero__section .hero__content .hero__time--date .time__container .division {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .hero__section .hero__content .hero__time--date .time__container .greetings,
  .hero__section .hero__content .hero__time--date .time__container .division {
    font-size: 1.3rem;
  }
}
.hero__section .hero__content .hero__time--date .time__container .division {
  font-weight: 700;
  letter-spacing: 0.2rem;
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__time--date .time__container .division {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .hero__section .hero__content .hero__time--date .time__container .division {
    font-size: 1.5rem;
  }
}
.hero__section .hero__content .hero__time--date .time__container .time__data {
  display: flex;
  align-items: flex-end;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data {
    margin: 0;
  }
}
.hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
}
.hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .hours,
.hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .minutes {
  font-size: 5rem;
  font-family: "Glacial Indifference";
  font-weight: 700;
  letter-spacing: 0.2rem;
}
@media (max-width: 340px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .hours,
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .minutes {
    font-size: 3.5rem;
  }
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .hours,
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .minutes {
    font-size: 7rem;
  }
}
@media (min-width: 768px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .hours,
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .minutes {
    font-size: 10rem;
  }
}
@media (min-width: 998px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .hours,
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .minutes {
    font-size: 12rem;
  }
}
.hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds,
.hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .colon {
  font-size: 3.5rem;
  font-family: "Glacial Indifference";
  margin-bottom: 0.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
@media (max-width: 340px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds,
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .colon {
    font-size: 2.5rem;
  }
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds,
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .colon {
    font-size: 4.5rem;
    margin-bottom: 0.7rem;
  }
}
@media (min-width: 768px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds,
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .colon {
    font-size: 6rem;
    margin-bottom: 0.9rem;
  }
}
@media (min-width: 998px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds,
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .colon {
    font-size: 8rem;
    margin-bottom: 1rem;
  }
}
.hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds {
  width: 5.625rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 340px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds {
    width: 4.0625rem;
  }
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds {
    width: 7.1875rem;
  }
}
@media (min-width: 768px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds {
    width: 8.4375rem;
  }
}
@media (min-width: 998px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .time__wrapper .seconds {
    width: 10.625rem;
  }
}
.hero__section .hero__content .hero__time--date .time__container .time__data .ampm {
  font-size: 1.5rem;
  font-family: "Anurati";
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
@media (max-width: 340px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .ampm {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
}
@media (min-width: 576px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .ampm {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }
}
@media (min-width: 768px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .ampm {
    font-size: 2.5rem;
    margin-bottom: 1.7rem;
    margin-left: 1rem;
  }
}
@media (min-width: 998px) {
  .hero__section .hero__content .hero__time--date .time__container .time__data .ampm {
    font-size: 3rem;
    margin-bottom: 2.3rem;
  }
}

.weather__timezone {
  font-family: "Comfortaa";
  font-size: 0.813rem;
  opacity: 0.8;
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
