/*=================== GOOGLE FONTS ===================*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

/*=================== FONTS ===================*/
@font-face {
  font-family: Anurati;
  src: url(../../assets/fonts/Anurati.otf);
}
@font-face {
  font-family: Aquatico;
  src: url(../../assets/fonts/Aquatico.otf);
}
@font-face {
  font-family: Comfortaa;
  src: url(../../assets/fonts/Comfortaa.ttf);
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../../assets/fonts/GlacialIndifference.otf);
}
@font-face {
  font-family: Quicksand;
  src: url(../../assets/fonts/Quicksand.otf);
}
/*=================== VARIABLES ===================*/
// Colors
$white-color: hsl(0, 0%, 100%);
$dark-color: hsl(200, 55%, 10%);
$gray-color: hsl(0, 0%, 93%);

// Font Sizes
$biggest-font: 2rem; // 32px
$big-font: 1.5rem; // 24px
$normal-font: 0.938rem; // 15px
$small-font: 0.813rem; // 13px
$smaller-font: 0.75rem; // 12px

// Font Weight
$light: 100;
$reguler: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$bolder: 800;

// Font Family
$Anurati: "Anurati";
$Aquatico: "Aquatico";
$Comfortaa: "Comfortaa";
$Glacial-Indifference: "Glacial Indifference";
$Quicksand: "Quicksand";

// Margenes & Paddings
$x-0-25: 0.25rem; // 4px
$x-0-5: 0.5rem; // 8px
$x-0-75: 0.75rem; // 12px
$x-1: 1rem; // 16px
$x-1-25: 1.25rem; // 20px
$x-1-5: 1.5rem; // 24px
$x-1-75: 1.75rem; // 28px
$x-2: 2rem; // 32px
$x-2-5: 2.5rem; // 40px
$x-2-75: 2.75rem; // 44px
$x-3: 3rem; // 48px

/* Z Index */
$z-1: 1;
$z-10: 10;
$z-100: 100;
$z-999: 999;

/* Others */
$hidden: hidden;
$trans-ease-out: all 400ms ease-out;
$trans-ease-in-out: all 900ms ease-in-out;
$trans-cubic: 1000ms cubic-bezier(0.77, 0.2, 0.05, 1);
$header-height: 4rem;
